article{ 
    width:100%;
    height:100px;
    background: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg");
    display:inline-block; 
    margin: -10px;
    padding-right: 18px;
}

body{
    background-color: gray;
    
}

footer{
    width: 100%;
    height: 15%;
    background: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg");       
    bottom: 0;
    position: fixed;
    margin: -8px;
}

h1 {
    color: black;
    font-size: 40px;
    width:100%;
    text-align: center;
    font-family: 'Dancing Script', cursive, monospace;
}

p {
    font-family: cursive, monospace;
    font-size: 15px;
    text-overflow: ellipsis;
}

.row {
    display: flex;
    flex:50%;
}

.column{
    background: url("https://cdn.pixabay.com/photo/2014/10/04/15/29/paper-473630_960_720.jpg"); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    color:black;       
}





